mixin sitemap(additionalClass)
  .sitemap(class=additionalClass)
    .sitemap__item
      h3.sitemap__header Следуйте за нами
      .sitemap__links
        a.sitemap__link(href="#") Вконтакте
        a.sitemap__link(href="#") Facebook
        a.sitemap__link(href="#") Twitter
        a.sitemap__link(href="#") Google+
    .sitemap__item
      h3.sitemap__header Сервис
      .sitemap__links
        a.sitemap__link(href="#") Доставка
        a.sitemap__link(href="#") Контакты
        a.sitemap__link(href="#") Договор оферты
        a.sitemap__link(href="#") Качество и сертификаты
        a.sitemap__link(href="#") Возврат
    .sitemap__item
      h3.sitemap__header Каталог
      .sitemap__links
        a.sitemap__link(href="#") Главная
        a.sitemap__link(href="#") Все бренды
        a.sitemap__link(href="#") Распродажа
    .sitemap__item
      h3.sitemap__header Информация
      .sitemap__links
        a.sitemap__link(href="#") Акции
        a.sitemap__link(href="#") Must Have