mixin specials(additionalClass)
  .specials(class=additionalClass)
    .special__item
      img.special__item-picture(src="img/special-1.jpg", alt="Special")
      .special__item-content
        h2.special__item-header Услуга «Imperial Set»
        p.special__item-text Мы предлагаем начать знакомство с селективной парфюмерией с пробников
        a.button(href="#") Подробнее
    .special__item
      img.special__item-picture(src="img/special-2.jpg", alt="Special")
      .special__item-content
        h2.special__item-header Подарочные карты
        p.special__item-comment Что дает вам подарочная карта?
        p.special__item-text - Экономия времени. Вы просто покупаете подарочную карту нужного номинала ( 1000, 3000, 5000, 10 000 рублей) <br>- Вы предоставляете свободу выбора для человека, которому дарите карту. <br>- Вы на 100% уверены, что ваш подарок понравится. <br>- В течение всех новогодних праздников покупки по подарочной карте мы бесплатно упакуем в подарочную упаковку!
        a.button(href="#") Подробнее
    .special__item
      img.special__item-picture(src="img/special-1.jpg", alt="Special")
      .special__item-content
        h2.special__item-header Услуга «Imperial Set»
        p.special__item-text Мы предлагаем начать знакомство с селективной парфюмерией с пробников
        a.button(href="#") Подробнее