mixin specials(additionalClass)
  .specials(class=additionalClass)
    .specials__item
      .specials__item-picture
        img.specials__item-img(src="img/stock-1.jpg", alt="Special")
      .specials__item-content
        h2.specials__item-header Услуга «Imperial Set»
        p.specials__item-text Мы предлагаем начать знакомство с селективной парфюмерией с пробников
        a.button.specials__button(href="#") Подробнее
    .specials__item
      .specials__item-picture
        img.specials__item-img(src="img/stock-2.jpg", alt="Special")
      .specials__item-content
        h2.specials__item-header Подарочные карты
        p.specials__item-text Что дает вам подарочная карта?
        p.specials__item-dscr - Экономия времени. Вы просто покупаете подарочную карту нужного номинала ( 1000, 3000, 5000, 10 000 рублей) <br>- Вы предоставляете свободу выбора для человека, которому дарите карту. <br>- Вы на 100% уверены, что ваш подарок понравится. <br>- В течение всех новогодних праздников покупки по подарочной карте мы бесплатно упакуем в подарочную упаковку!
        a.button.specials__button(href="#") Подробнее
    .specials__item
      .specials__item-picture
        img.specials__item-img(src="img/stock-3.jpg", alt="Special")
      .specials__item-content
        h2.specials__item-header Услуга «Imperial Set»
        p.specials__item-text Мы предлагаем начать знакомство с селективной парфюмерией с пробников
        a.button.specials__button(href="#") Подробнее