mixin phones(additionalClass)
  .phones(class=additionalClass)
    .phones__content
      a.phones__content-item(href="tel:8(499)390-88-76") 8 (499) 390-88-76
      a.phones__content-item(href="tel:8(499)390-88-76") 8 (812) 407-12-05
      a.phones__content-item(href="tel:8(499)390-88-76") 8 (800) 555-86-17
    .phones__headers
      .phones__header-item Телефон в Москве
      .phones__header-item Телефон в Санкт-Петербурге
      .phones__header-item Бесплатно по России