mixin recommendations(additionalClass)
  .recommendations(class=additionalClass)
    h2.recommendations__header Рекомендуем
    .recommendations__list
      a.recommendations__item(href="#")
        img.recommendations__item-picture(src="img/recommendations-1", alt="Parfume")
        .recommendations__item-content
          .recommendations__item-brand Yves Saint Laurent 
          .recommendations__item-name Manifesto
      a.recommendations__item(href="#")
        img.recommendations__item-picture(src="img/recommendations-2", alt="Parfume")
        .recommendations__item-content
          .recommendations__item-brand Lalique 
          .recommendations__item-name Amethyst
      a.recommendations__item(href="#")
        img.recommendations__item-picture(src="img/recommendations-3", alt="Parfume")
        .recommendations__item-content
          .recommendations__item-brand Estee
          .recommendations__item-name Lauder
      a.recommendations__item(href="#")
        img.recommendations__item-picture(src="img/recommendations-4", alt="Parfume")
        .recommendations__item-content
          .recommendations__item-name Аква Парфюм
      a.recommendations__item(href="#")
        img.recommendations__item-picture(src="img/recommendations-5", alt="Parfume")
        .recommendations__item-content
          .recommendations__item-name Gucci дезодарант