mixin recommendations(additionalClass)
  .recommendations(class=additionalClass)
    h2.recommendations__header Рекомендуем
    .recommendations__list
      a.recommendations__item(href="#")
        .recommendations__item-picture
          img.recommendations__item-img(src="img/recommend-1.jpg", alt="Parfume")
        .recommendations__item-content
          .recommendations__item-brand Yves Saint Laurent 
          .recommendations__item-name Manifesto
      a.recommendations__item(href="#")
        .recommendations__item-picture
          img.recommendations__item-img(src="img/recommend-2.jpg", alt="Parfume")
        .recommendations__item-content
          .recommendations__item-brand Lalique 
          .recommendations__item-name Amethyst
      a.recommendations__item(href="#")
        .recommendations__item-picture
          img.recommendations__item-img(src="img/recommend-3.jpg", alt="Parfume")
        .recommendations__item-content
          .recommendations__item-brand Estee
          .recommendations__item-name Lauder
      a.recommendations__item(href="#")
        .recommendations__item-picture
          img.recommendations__item-img(src="img/recommend-4.jpg", alt="Parfume")
        .recommendations__item-content
          .recommendations__item-name Аква Парфюм
      a.recommendations__item(href="#")
        .recommendations__item-picture
          img.recommendations__item-img(src="img/recommend-5.jpg", alt="Parfume")
        .recommendations__item-content
          .recommendations__item-name Gucci дезодарант