include ../blocks/wrapper/wrapper.pug
include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/phones/phones.pug
include ../blocks/authorization/authorization.pug
include ../blocks/button/button.pug
include ../blocks/menu/menu.pug
include ../blocks/search/search.pug
include ../blocks/alphabet/alphabet.pug
include ../blocks/front/front.pug
include ../blocks/tabs/tabs.pug
include ../blocks/tab/tab.pug
include ../blocks/item/item.pug
include ../blocks/cart-block/cart-block.pug
include ../blocks/sidebar/sidebar.pug
include ../blocks/brands-list/brands-list.pug
include ../blocks/catalog/catalog.pug
include ../blocks/page-buttons/page-buttons.pug
include ../blocks/callback-button/callback-button.pug
include ../blocks/go-top/go-top.pug
include ../blocks/note/note.pug
include ../blocks/footer/footer.pug
include ../blocks/delivery/delivery.pug
include ../blocks/sitemap/sitemap.pug
include ../blocks/developer/developer.pug
include ../blocks/copyright/copyright.pug
include ../blocks/siteinfo/siteinfo.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/cart/cart.pug
include ../blocks/cart-table/cart-table.pug
include ../blocks/order-form/order-form.pug
include ../blocks/brand/brand.pug
include ../blocks/sorting/sorting.pug
include ../blocks/brand-categories/brand-categories.pug
include ../blocks/recommendations/recommendations.pug
include ../blocks/page-header/page-header.pug
include ../blocks/delivery/delivery.pug
include ../blocks/region/region.pug
include ../blocks/delivery-method/delivery-method.pug
include ../blocks/product/product.pug
include ../blocks/notes/notes.pug
include ../blocks/stars/stars.pug
include ../blocks/product-option/product-option.pug
include ../blocks/delivery-block/delivery-block.pug
include ../blocks/discounts/discounts.pug
include ../blocks/cabinet/cabinet.pug
include ../blocks/unique-item/unique-item.pug
include ../blocks/sales/sales.pug
include ../blocks/favorites/favorites.pug
include ../blocks/cabinet-block/cabinet-block.pug
include ../blocks/input/input.pug
include ../blocks/settings/settings.pug
include ../blocks/select/select.pug
include ../blocks/modal/modal.pug
include ../blocks/modal-link/modal-link.pug
include ../blocks/registration/registration.pug
include ../blocks/roundbutton/roundbutton.pug
include ../blocks/specials/specials.pug
include ../blocks/section/section.pug
include ../blocks/side-catalog/side-catalog.pug
include ../blocks/catalog-controls/catalog-controls.pug
include ../blocks/checkbox/checkbox.pug
include ../blocks/content/content.pug
include ../blocks/input-item/input-item.pug
include ../blocks/section-wrapper/section-wrapper.pug
include ../blocks/login/login.pug
include ../blocks/restore/restore.pug