mixin sorting(additionalClass)
  .sorting(class=additionalClass)
    .sorting__header Сортировать по:
    .sorting__content
      a.sorting__button(href="#") рейтингу
      a.sorting__button.sorting__button--active(href="#") цене
      a.sorting__button(href="#") алфавиту
      a.sorting__button(href="#") новинкам