mixin discounts(additionalClass)
  .discounts(class=additionalClass)
    .discounts__header
      h2.discounts__title Скидки
      .discounts__title-comment постоянными клиентам
      p.discounts__dscr Уважаемые покупатели, при заказе парфюмарии на сайте Enigme.ru, вы получаете скидки!
    .discounts__content
      .discounts__item
        .discounts__item-percent 3%
        .discounts__item-price 3000 - 10000 руб
      .discounts__item
        .discounts__item-percent 5%
        .discounts__item-price 10001 - 20000 руб
      .discounts__item
        .discounts__item-percent 7%
        .discounts__item-price 20001 - 70000 руб
      .discounts__item
        .discounts__item-percent 10%
        .discounts__item-price 70 001 - 139999 руб
      .discounts__item
        .discounts__item-percent 15%
        .discounts__item-price от 140000 руб