mixin delivery-method(additionalClass)
  .delivery-method(class=additionalClass)
    .section-wrapper
      h2.delivery-method__header Доставка
      .delivery-method__content
        .delivery-method__item.delivery-method__item--moscow
          .delivery-method__item-header Москва
          .delivery-method__item-price Бесплатно
          a.delivery-method__item-link(href="#") Подробнее
        .delivery-method__item.delivery-method__item
          .delivery-method__item-header Московская область
          .delivery-method__item-price От 250 руб
          a.delivery-method__item-link(href="#") Рассчитать стоимость
        .delivery-method__item.delivery-method__item
          .delivery-method__item-header Санкт-Петербург
          .delivery-method__item-price От 118 руб
          a.delivery-method__item-link(href="#") Рассчитать стоимость
        .delivery-method__item.delivery-method__item
          .delivery-method__item-header Россия
          .delivery-method__item-price От 118 руб
          a.delivery-method__item-link(href="#") Рассчитать стоимость