mixin search(additionalClass)
  form.search(action="#", method="get", class=additionalClass)
    .search__header Поиск аромата
    .search__content
      input.search__input(type="text")
      button.button.button--small.search__button Искать
      