.search {
  padding-top: .2rem;
  
  &__header {
    .font-first;
    font-size: 1.1rem;
    margin-bottom: .5rem;
  }
  
  &__content {
    display: flex;
  }
  
  &__input {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding-left: .5rem;
    height: 2rem;
    width: 15rem;
    margin-right: .9rem;
    .font-first;
    font-size: 1.2rem;
    text-align: center;
  }
  
  &__button {
    padding: 0;
    width: 6.1rem;
  }
}