mixin footer(additionalClass)
  .footer(class=additionalClass)
    +siteinfo
    .copyright Все права на материалы представленные на сайте принадлежат enigme.ru. Копирование информации запрещено. (Энигме.ру)
    +developer