mixin footer(additionalClass)
  .footer(class=additionalClass)
    .footer__left
      +siteinfo
      .copyright Все права на материалы представленные на сайте принадлежат enigme.ru. Копирование информации запрещено. (Энигме.ру)
    +developer
    +page-buttons
    +login
    +restore