mixin brands-list(additionalClass)
  .brands-list(class=additionalClass)
    a.brands-list__item(href="#") Abercrombie & Fitch
    a.brands-list__item(href="#") Adidas
    a.brands-list__item(href="#") Agent Provocateur
    a.brands-list__item(href="#") Alessandro Dell Acqua
    a.brands-list__item(href="#") Alfred Dunhill
    a.brands-list__item(href="#") Amouage
    a.brands-list__item(href="#") Angel Schlesser
    a.brands-list__item(href="#") Armand Basi
    a.brands-list__item(href="#") Axis
    a.brands-list__item(href="#") Baldinini
    a.brands-list__item(href="#") Britney Spears
    a.brands-list__item(href="#") Bruno Banani
    a.brands-list__item(href="#") Bugatti
    a.brands-list__item(href="#") Burberry
    a.brands-list__item(href="#") Bvlgari
    a.brands-list__item(href="#") Cacharel
    a.brands-list__item(href="#") Calvin Klein
    a.brands-list__item(href="#") Canali
    a.brands-list__item(href="#") Carolina Herrera
    a.brands-list__item(href="#") Cartier
    a.brands-list__item(href="#") Celine
    a.brands-list__item(href="#") Celine Dion
    a.brands-list__item(href="#") Chanel
    a.brands-list__item(href="#") Chloe
    a.brands-list__item(href="#") Chopard
    a.brands-list__item(href="#") Christian Dior
    a.brands-list__item(href="#") Christian Lacroix
    a.brands-list__item(href="#") Clarins
    a.brands-list__item(href="#") Clinique
    a.brands-list__item(href="#") Davidoff
    a.brands-list__item(href="#") Dolce & Gabbana
    a.brands-list__item(href="#") Donna Karan
    a.brands-list__item(href="#") Dupont
    a.brands-list__item(href="#") Ed Hardy
    a.brands-list__item(href="#") Emilio Pucci
    a.brands-list__item(href="#") Escada
    a.brands-list__item(href="#") Estee Lauder
    a.brands-list__item(href="#") Etro
    a.brands-list__item(href="#") Fendi
    a.brands-list__item(href="#") Ferrari
    a.brands-list__item(href="#") Gianfranco Ferre
    a.brands-list__item(href="#") Giorgio Armani
    a.brands-list__item(href="#") Givenchy
    a.brands-list__item(href="#") Gucci
    a.brands-list__item(href="#") Guerlain
    a.brands-list__item(href="#") Guess
    a.brands-list__item(href="#") Hermes
    a.brands-list__item(href="#") Hugo Boss
    a.brands-list__item(href="#") Iceberg
    a.brands-list__item(href="#") Issey Miyake
    a.brands-list__item(href="#") Jean Paul Gaultier
    a.brands-list__item(href="#") Jennifer Lopez
    a.brands-list__item(href="#") John Galliano
    a.brands-list__item(href="#") Juicy Couture
    a.brands-list__item(href="#") Kenzo
    a.brands-list__item(href="#") Kiton
    a.brands-list__item(href="#") La Perla
    a.brands-list__item(href="#") La Prairie
    a.brands-list__item(href="#") Lacoste
    a.brands-list__item(href="#") Lancome
    a.brands-list__item(href="#") Lanvin
    a.brands-list__item(href="#") Lulu Castagnette
    a.brands-list__item(href="#") Mandarina Duck
    a.brands-list__item(href="#") Mexx
    a.brands-list__item(href="#") Moschino
    a.brands-list__item(href="#") Naomi Campbell
    a.brands-list__item(href="#") Narciso Rodriguez
    a.brands-list__item(href="#") Nina Ricci
    a.brands-list__item(href="#") Paco Rabanne
    a.brands-list__item(href="#") Paris Hilton
    a.brands-list__item(href="#") Paul Smith
    a.brands-list__item(href="#") Pierre Cardin
    a.brands-list__item(href="#") Prada
    a.brands-list__item(href="#") Puma
    a.brands-list__item(href="#") Ralph Lauren
    a.brands-list__item(href="#") Roberto Cavalli
    a.brands-list__item(href="#") Roxy
    a.brands-list__item(href="#") Salvador Dali
    a.brands-list__item(href="#") Salvatore Ferragamo
    a.brands-list__item(href="#") Sarah Connor
    a.brands-list__item(href="#") Serge Lutens
    a.brands-list__item(href="#") Shiseido
    a.brands-list__item(href="#") Sisley
    a.brands-list__item(href="#") Tiffany
    a.brands-list__item(href="#") Tom Ford
    a.brands-list__item(href="#") Trussardi
    a.brands-list__item(href="#") Usher
    a.brands-list__item(href="#") Valentino
    a.brands-list__item(href="#") Vera Wang
    a.brands-list__item(href="#") Versace
    a.brands-list__item(href="#") Xoxo
    a.brands-list__item(href="#") Yacht Man
    a.brands-list__item(href="#") Yohji Yamamoto
    a.brands-list__item(href="#") Yves Saint Laurent
    a.brands-list__item(href="#") Zegna