doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    .wrapper
      +header
      +menu
      .content
        .section
          .section__top
            +alphabet
            +search
          .section__header
            .breadcrumbs
              a.breadcrumbs__item(href="#") Главная
              a.breadcrumbs__item.breadcrumbs__item--active(href="#") Регистрация
            h1.section__title Регистрация
          +registration
        .sidebar
          +cart-block
          +recommendations
      +delivery-block
      +sitemap
      +footer
    include ../templates/scripts.pug