doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    .wrapper
      +header
      +menu
      .content
        .section
          .section__top
            +alphabet
            +search
          .section__header
            .breadcrumbs
              a.breadcrumbs__item(href="#") Главная
              a.breadcrumbs__item.breadcrumbs__item--active(href="#") Акции
            h1.section__title Акции
          +specials
        .sidebar
          +cart-block
          .side-catalog
            h2.side-catalog__header ТОП 100 брендов
            a.side-catalog__link(href="#") Все бренды
            +brands-list('brands-list--tiny')
          +recommendations
      +delivery-block
      +sitemap
      +footer
    include ../templates/scripts.pug