mixin unique-item(additionalClass)
  .unique-item(class=additionalClass)
    .unique-item__picture
      img.unique-item__img(src="img/item-1.jpg", alt="Parfume")
      .unique-item__content
        .unique-item__header
          .unique-item__brand Nina Ricci
          .unique-item__name Ricci Ricci
        .unique-item__collection Женская коллекция
        .unique-item__notes белый олеандр, цветы апельсина, инжир, фиговое дерево, кедр
        .unique-item__dscr Bright Crystal – сладковатый, цветочно-фруктовый аромат в хрустальном флаконе, Bright Crystal – сладковатый, цветочно-фруктовый аромат в  ... хрустальном флаконе, ...
        .unique-item__controls
          a.unique-item__like(href="#") В избранное
          a.button(href="#") Подробнее
          
mixin unique-item--favorite(additionalClass)
  .unique-item(class=additionalClass)
    .unique-item__picture
      img.unique-item__img(src="img/item-1.jpg", alt="Parfume")
      .unique-item__content
        .unique-item__header
          .unique-item__brand Nina Ricci
          .unique-item__name Ricci Ricci
        .unique-item__collection Женская коллекция
        .unique-item__notes белый олеандр, цветы апельсина, инжир, фиговое дерево, кедр
        .unique-item__dscr Bright Crystal – сладковатый, цветочно-фруктовый аромат в хрустальном флаконе, Bright Crystal – сладковатый, цветочно-фруктовый аромат в  ... хрустальном флаконе, ...
        .unique-item__controls
          .unique-item__cart В корзину
          .unique-item__remove Удалить
          a.button(href="#") Подробнее