.cart {
  
  
  &__header {
    .font-first;
    font-size: 2.4rem;
    font-weight: 500;
  }
  
  &__controls {
    margin: 3.5rem 0 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__order-link {
    color: #000;
    text-decoration: none;
    .font-first;
    font-size: 1.4rem;
    padding-bottom: .3rem;
    border-bottom: 1px dashed #000;
  }
  
  &__login {
    margin-top: 3.5rem;
  }
  
  &__login-header {
    .font-first;
    font-size: 1.8rem;
    margin-bottom: 3.5rem;
  }
  
  &__login-content {
    background: #f0f0f0;
    display: flex;
    align-items: center;
  }
  
  &__login-new {
    padding: 5.2rem;
  }
  
  &__login-subheader {
    .font-first;
    font-size: 1.4rem;
    font-weight: 500;
  }
  
  &__login-form {
    background: #fff;
    padding: 4.7rem 5.5rem;
    margin-top: 2rem;
  }
  
  &__login-old {
    margin-left: 13.2rem;
    max-width: 31.6rem;
  }
  
  &__login-text {
    font-size: 1.6rem;
    .font-first;
    margin: 3.4rem 0 5rem;
  }
  
  &__login-input-item {
    margin-bottom: 2.5rem;
  }
  
  &__login-button {
    height: 4.6rem;
    line-height: 4.6rem;
  }
  
  &__login-button-new {
    width: 100%;
  }
  
  &__login-input {
    width: 23.6rem;
  }
}