mixin cart-block(additionalClass)
  a.cart-block(href="#", class=additionalClass)
    .cart-block__icon
    .cart-block__content
      .cart-block__header Корзина
      .cart-block__text.cart-block__items Количество товаров 3 шт
      .cart-block__text.cart-block__price На сумму 99 900 р
  