mixin cart-block(additionalClass)
  a.cart-block(href="#", class=additionalClass)
    .cart-block__icon
    .cart-block__content Корзина
      .cart-block__header
      .cart-block__text.cart-block__items 3 шт
      .cart-block__text.cart-block__price 99 900 р
  