mixin cabinet-block(additionalClass)
  .cabinet-block(class=additionalClass)
    h2.cabinet-block__header
    .cabinet-block__links
      a.cabinet-block__link(href="#") Распродажа
      a.cabinet-block__link(href="#") Скидки и акции
      a.cabinet-block__link(href="#") Избранное
      a.cabinet-block__link(href="#") История покупок
      a.cabinet-block__link(href="#") Мои комментарии
    .cabinet-block__controls
      a.cabinet-block__link(href="#") Выход
      a.cabinet-block__link(href="#") Настройки