mixin authorization(additionalClass)
  .authorization(class=additionalClass)
    .authorization__top
      a.authorization__top-link.modal-link(href="#login") Вход
      a.authorization__top-link(href="#") Регистрация
    input.authorization__input(type="text")
    input.authorization__input(type="text")
    .authorization__bottom
      a.authorization__lost.modal-link(href="#restore") Забыли пароль?
      button.button.button--small Войти